/* root */
:root {
    --primary-accent-color: #34A9FF;
}

body {
    margin: 0;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

#main {
    margin-top: 5rem;
    height: calc(100vh - 5rem);

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4rem;
}

@media screen and (max-height: 640px) {
    #main {
        margin-top: 6rem;
        height: max-content;
    }
}

#hero {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

#hero h3 {
    font-family: "poppins", sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
    font-weight: 700;
    color: #333;
    margin-top: 0;
}
#hero h3 b {
    color: var(--primary-accent-color);
}

#hero #hero-text span {
    font-family: "poppins", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    width: 50%;
    display: block;
}

#hero #hero-img { 
    width: 27vw;
    position: absolute;
    right: -2rem;
    bottom: 0;
}

#hero #features {
    margin-top: 0rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    max-width: 35rem;
}

.featureItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    max-width: 24rem;
}

.featureItem img {
    width: 5rem;
    height: 5rem;
    transform: scale(1.25);
}

.featureItem span {
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#form {
    max-width: 24rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    /* overflow: hidden; */
}

#form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    box-sizing: border-box;
    padding: 2rem;
}

#form form h1 {
    font-family: "poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
}

#form form h1 b {
    color: var(--primary-accent-color);
    font-weight: 600;
}

#form form input[type=text],
#form form input[type=email],
#form form input[type=tel],
#form form input[type=date] {
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-bottom: 0.1rem solid #ccc;
    transition: all 0.2s;
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
}

#form form input[type=date] {
    border: none;
}

#form label {
    font-family: "poppins", sans-serif;
    font-size: 1.2rem;
    color: #757575;
}

#schedule-input {
    display: flex;
    column-gap: 1rem;
    width: 100%;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.1rem solid #ccc;
    position: relative;
}
#fakedatelabel {
    display: none;
}

@media screen and (max-width: 680px) {

    #form form input[type="date"]:not(:valid) {
        opacity: 0;
    }


    #fakedatelabel {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        align-items: center;
        z-index: -1;
    }

    #fakedatelabel img {
        filter: brightness(0.5);
    }
    
}


#form form input[type=text]:focus,
#form form input[type=email]:focus,
#form form input[type=tel]:focus,
#schedule-input:focus-within {
    border-bottom: 0.1rem solid var(--primary-accent-color);
}

#form form input[type=submit] {
    margin-top: 2rem;
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: var(--primary-accent-color);
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

#form form input[type=submit]:hover {
    background: #33a0ef;
}

@media screen and (max-width: 1180px) {

    #main {
        column-gap: 2rem;
    }

    #hero #hero-img {
        display: none;
    }

    #hero h3 {
        font-size: 2.2rem;
        line-height: 2.5rem;
    }

    #hero #hero-text span {
        width: 100%;
        font-size: 1.2rem;
    }
    
}

@media screen and (max-width: 920px) {
    #hero {
        padding: 0;
        box-sizing: border-box;
        width: 40%;
    }
    #hero #features {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    #hero h3 {
        font-size: 2rem;
        line-height: 2.2rem;
    }

    #hero #hero-text span {
        font-size: 1rem;
    }

    #form form h1 {
        font-size: 1.2rem;
    }

    #form form input[type=text],
    #form form input[type=email],
    #form form input[type=tel],
    #form form input[type=date] {
        padding: 0.5rem;
        font-size: 1rem;
    }
    #form label {
        font-size: 1rem;
    }
}

@media screen and (max-width: 680px) {
    #main {
        flex-direction: column;
    }

    #hero {
        padding: 0 2rem 2rem 2rem;
        box-sizing: border-box;
        width: 100%;
        text-align: center;
    }

    #hero h3 {
        font-size: 1.2rem;
        line-height: 1.3rem;
    }

    #hero #hero-text span {
        font-size: 0.9rem;
    }

    #form form h1 {
        font-size: 1rem;
    }

    #form {
        width: calc(100% - 2rem);
        border-radius: 0.5rem;
    }
    
    #form form {
        row-gap: 0.8rem;
        padding: 1.5rem;
    }
}

/* 

    <div id="success">
        <div id="success-text">
            <img src="assets/icons/check.png" alt="Success">
            <h2>Success!</h2>
            <p>We will get back to you shortly to confirm the schedule.</p>
        </div>
    </div>

    <div id="error">
        <div id="error-text">
            <img src="assets/icons/error.png" alt="Success">
            <h2>Error!</h2>
            <p>Try again!</p>
        </div>
    </div>
    
    */

    #success {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2rem;
        box-sizing: border-box;
        text-align: center;
        height: calc(100vh + 2rem);
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        /* display: flex; */
        justify-content: center;
        align-items: center;
    }

    #success-text {
        background: white;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 1rem;
    }

    #success-text img {
        width: 5rem;
        height: 5rem;
    }

    #success-text h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    #success-text p {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0;
    }

    #error {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100vh + 2rem);
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        padding: 2rem;
        box-sizing: border-box;
        text-align: center;
        /* display: flex; */
        justify-content: center;
        align-items: center;

    }

    #error-text {
        background: white;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        column-gap: 1rem;
    }

    #error-text img {
        width: 5rem;
        height: 5rem;
    }

    #error-text h2 {
        font-size: 1.5rem;
        font-weight: 500;
        margin: 0;
    }

    #error-text p {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0;
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
            transform: translateY(2rem);
        }
        0.01% {
            opacity: 0;
            transform: translateY(2rem);
        }
        100% {
            opacity: 1 !important;
            transform: translateY(0);
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
            transform: translateY(0);
    }
        99.99% {
            opacity: 0;
            transform: translateY(2rem);
        }
        100% {
            opacity: 0;
            transform: translateY(2rem);
        }
    }
    