
/* footer */

#footer {
    background: black;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;

    padding: 6rem 0 6rem 6rem;
    box-sizing: border-box;
}

#footerLogo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 24rem;
    grid-area: 1 / 1 / 2 / 2;
}

/* 5 * 15 */
#footerLogo img {
    height: 5rem;
    width: 12rem;
}

#footerLogo span {
    color: #B3B3B3;
    max-width: 10rem;
    text-align: center;
}

#footer-links {
    display: flex;
    width: 100%;
    flex-direction: row;
    column-gap: 2rem;
    justify-content: space-between;
}

.footer-link-group {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    width: max-content;
}

.footer-link-group.g1 { grid-area: 1 / 2 / 2 / 3; }
.footer-link-group.g2 { grid-area: 1 / 3 / 2 / 4; }
.footer-link-group.g3 { grid-area: 1 / 4 / 2 / 5; }
.footer-link-group.g4 { grid-area: 1 / 5 / 2 / 6; }


.footer-link-group span {
    color: #37A6F7;
    font-size: 1rem;
    font-weight: 500;
}

.footer-link-group a {
    color: #E2E8F0;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 1278px) {

    #footer {
        padding: 6rem 0 6rem 4rem;
    }

    #footerLogo img {
        height: 4rem;
        width: 9.6rem;
    }

    #footerLogo {
        width: 15rem;
    }
}

@media screen and (max-width: 1078px) {
    #footer {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #footerLogo {
        grid-area: 1 / 1 / 2 / 5;
        /* flex-direction: row; */
        column-gap: 8rem;
        row-gap: 2rem;
        justify-content: flex-start;
        width: 100%;
    }
    
    .footer-link-group.g1 { grid-area: 2 / 1 / 3 / 2; }
    .footer-link-group.g2 { grid-area: 2 / 2 / 3 / 3; }
    .footer-link-group.g3 { grid-area: 2 / 3 / 3 / 4; }
    .footer-link-group.g4 { grid-area: 2 / 4 / 3 / 5; }

}

@media screen and (max-width: 800px) {
    #footer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 2rem;
    }

    #footerLogo {
        grid-area: 1 / 1 / 2 / 3;
        row-gap: 1rem;
        justify-content: flex-start;
        width: 100%;
    }

    .footer-link-group.g1 { grid-area: 2 / 1 / 3 / 2; }
    .footer-link-group.g2 { grid-area: 2 / 2 / 3 / 3; }
    .footer-link-group.g3 { grid-area: 3 / 1 / 4 / 2; }
    .footer-link-group.g4 { grid-area: 3 / 2 / 4 / 3; }

    .footer-link-group {
        row-gap: 0.8rem;
    }   
}

@media screen and (max-width: 480px) {
    #footer {
        padding: 4rem 0 4rem 2rem
    }

    .footer-link-group {
        row-gap: 0.5rem;
    }   
}

#callToAction {
    background: var(--primary-accent-color);
    color: white;
    padding: 8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#callToAction h2 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: black;

    opacity: 0;
    transform: translateY(4rem);
    transition: all 0.5s ease-in-out;
}

#callToAction.show h2 {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
}

#callToAction span {
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 300;
    margin-bottom: 2rem;
    max-width: 48rem;

    opacity: 0;
    transform: translateY(4rem);
    transition: all 0.5s ease-in-out;
}

#callToAction.show span {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}

#callToActionBtns {
    display: flex;
    flex-direction: row;
    column-gap: 1.5rem;

    opacity: 0;
    transform: translateY(4rem);
    transition: all 0.5s ease-in-out;
}

#callToAction.show #callToActionBtns {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.5s ease-in-out;
    transition-delay: 0.4s;
}

#callToActionBtns a {
    text-decoration: none;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    transition: all 0.1s ease-in-out;
    border: 2px solid black;
}

#callToActionBtns a:nth-child(2) {
    background-color: transparent;
    color: black;
}

#callToActionBtns a:hover {
    transform: translateY(-0.2rem) scale(1.05);
    box-shadow: 0 0.25rem 0.5rem #13476f;
}

@media screen and (max-width: 840px) {
    #callToAction {
        padding: 4rem;
    }
}

@media screen and (max-width: 700px) {
    #callToAction {
        padding: 2rem;
    }

    #callToAction h2 {
        font-size: 2rem;
    }

    #callToAction span {
        font-size: 1rem;
    }

    #callToActionBtns {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    #callToActionBtns a {
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 400px){
    #callToAction h2 {
        font-size: 1.5rem;
    }

    #callToAction span {
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    #callToActionBtns a {
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
    }
}


#chatWithUs {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    z-index: 1000;
}



#chatActionButton {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 2rem;
    background: #25d366;
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    transition: all 0.2s;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

#chatActionButton span {
    font-size: 1.1rem;
    padding-left: 0.5rem;
    white-space: nowrap;
    color: white;
    font-weight: 500;
}


#chatActionButton img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
}

#chatActionButton:hover {
    width: 11rem;
}

#chatWindow {
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.15);
    border-radius: 1.25rem;
    overflow: hidden;
    transition: all 0.3s;
    margin-left: -20rem;
    opacity: 0;
    transform-origin: bottom left;
}

#chatWindow img#chatClose {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
}

#chatWindow img#chatDemo {
    width: 20rem;
}

#chatWindow.show {
    margin-left: 0;
    opacity: 1;
    transform-origin: bottom left;
}

#chatWindow a {
    text-decoration: none;
    padding: 0.5rem 1rem;
    text-align: center;
    background: #25d366;
    border-radius: 2rem;
    color: white;
    font-weight: 500;
    margin: 1rem;
}
